---
layout: default
---
<article id="main">
  <section class="wrapper style5">
    <div class="inner">
    <h2>{{ page.imageid }}. {{ page.title }}</h2>
    <span class="image fit"><img src="images/{{ page.img }}" alt="" /></span>
    <center><a href="{{ site.url }}/gallery"<button class="btn btn-default"><< back</button></a></center>
      {{ content }}
    <div id="fb_comments" style="padding-left:5%;padding-right:5%;">
        <div class="fb-comments" data-href="{{ site.url }}/gallery/images/{{ page.img }}" data-colorscheme="light" data-num-posts="4" data-width="100%"></div>
    </div>
    </div>
  </section>

</article>
